.searchbar {
    width: 50%;
    padding: 12px 20px;
    border-radius: 3%;
}

input:focus {
    outline: none;
}

.search-btn {
    border: 1px solid white;
    background-color: #004c3f;
    color: white;
    height: 43px;
    margin-left: 2%;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.search-btn:hover {
    background-color: #FFF;
    color: #004c3f;
    border-radius: 3%;
}

.search-btn:focus {
    outline: none;
}

@media only screen and (max-width: 960px) {
    .searchbar {
        width: 90%;
    }

    .search-btn {
        height: 30px;
    }
}